body {
    font-family: 'Inter', Arial, helvetica, sans-serif;
    color: #111;
    margin: 0;
}

/* css styling for hero section */

.hero {
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.btn {
    display: inline-block;
    border: 2px solid #000;
    margin: 4px 2px;
    margin-top: 20px;
    padding: 12px 28px;
    background-color:green;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    line-height: 1.2;
    transition: background-color 0.3s ease, transform 0.2 ease;
    cursor: pointer;

    
}

.btn:hover {
    background-color: #e66700;
    transform: translateY(-2px);
}


/* css styling for menu page */

.menu-main {
    max-width: 320px;
    margin: 40px auto;
    
}

.menu-main ol {
    padding-left: 20px
}

.menu-main li {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    margin: 8px 0;
    font-size: 16px;
    text-align: left;
}

.menu-main li span {
    font-weight: bold;
   
}

/* styling for menu table */

.menu-table {
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    border-collapse: collapse;
    background: #fff;
    border: 2px solid #000;
}

.menu-table th, .menu-table td {
    padding: 12px 14px;
    border: 1px solid #000;
    text-align: left;
}

.menu-table th {

    background: #f4f4f4;
}


/* header and tab navigation */

.site-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

.logo {
    margin: 0;
    font-size: 28px;
}

.nav-tabs {
    display: flex;
    gap: 10px;
}

.nav-tabs a {
    text-decoration: none;
    color: #111;
    padding: 6px 14p;
    border: 2px solid #000;
    background: #fff;
    background-color: #fff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    
}

.nav-tabs a:hover {
    background: #eaeaea;
}

.nav-tabs a.active {
    background: #e66700;
    color: #fff;
}


/* css styling for contact form */

.contact-form {
    max-width: 700px;
    margin: 40px auto;
    display: grid;
    gap: 10p;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 6px;
}


/* css styling for about page */

.about-article {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
}


/* css styling for footer */

.site-footer {
    padding: 16px 24px;
    font-size: 14px;
    color: #555;
}


/* basic media responsive for mobile devices */

@media (max-width: 600px) {
    .nav-tabs {
        width: 100%;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .hero {
        padding: 40px 16px;
    }
}